<!-- Footer -->
<footer class="page-footer font-small blue">
<p>
    Explore Top Music Powered by your Scrobbles
We bring together your favourite music services and join up listening, watching and sharing to connect your musical world.

Below you can visualise, in real-time, the listening habits & trends of Last.fm's global community. Go Explore.
</p>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="#"> Muzix.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->